In [2]:
import pandas as pd

In [12]:
#series is similar to list, one dim array, assign index to each item it contains
s = pd.Series(['John', 'Rich', 'Michael', 'Sue', 'Kath'])
print(s)

print(s[0])

print(s[1:4]) #slicing, does not include 4

print(s[[0,1,3]]) #selecting at irregular integrals

param = s != 'John' #new parameter where s does not include john
print(s[param])

0       John
1       Rich
2    Michael
3        Sue
4       Kath
dtype: object
John
1       Rich
2    Michael
3        Sue
dtype: object
0    John
1    Rich
3     Sue
dtype: object
1       Rich
2    Michael
3        Sue
4       Kath
dtype: object

In [22]:
d = {'New York': 1300,
     'Chicago': 900,
     'San Francisco': 1100,
     'Austin': 450}

cities = pd.Series(d) #converting dictionary to series
print(cities)

print(cities[['Chicago', 'San Francisco']])

print(cities[cities < 1000]) #boolean operator

cities[cities < 1000] = 750 #everything less than 1000 will be changed to 750
print(cities)

New York         1300
Chicago           900
San Francisco    1100
Austin            450
dtype: int64
Chicago           900
San Francisco    1100
dtype: int64
Chicago    900
Austin     450
dtype: int64
New York         1300
Chicago           750
San Francisco    1100
Austin            750
dtype: int64

In [30]:
#data frame is collection of series

titanic = pd.read_csv('titanic.txt', sep='\t')

print(titanic.head()) #print first 5 rows

#selecting a single column will give out a series
print(titanic['age']) #gives a series

#selecting multiple columns:
print(titanic[['age','pclass']])

#boolean indexing

print(titanic[(titanic.age=='child') & (titanic.pclass=='2nd')]) #gives all the data where age is child and pclass is 2nd

print(titanic[320:330]) #will give all the rows with index data from 320 to 339

  pclass    age   sex survived
0    1st  adult  male      yes
1    1st  adult  male      yes
2    1st  adult  male      yes
3    1st  adult  male      yes
4    1st  adult  male      yes
0       adult
1       adult
2       adult
3       adult
4       adult
        ...
2196    adult
2197    adult
2198    adult
2199    adult
2200    adult
Name: age, Length: 2201, dtype: object
        age pclass
0     adult    1st
1     adult    1st
2     adult    1st
3     adult    1st
4     adult    1st
...     ...    ...
2196  adult   crew
2197  adult   crew
2198  adult   crew
2199  adult   crew
2200  adult   crew

[2201 rows x 2 columns]
    pclass    age     sex survived
586    2nd  child    male      yes
587    2nd  child    male      yes
588    2nd  child    male      yes
589    2nd  child    male      yes
590    2nd  child    male      yes
591    2nd  child    male      yes
592    2nd  child    male      yes
593    2nd  child    male      yes
594    2nd  child    male      yes
595    2nd  child    male      yes
596    2nd  child    male      yes
597    2nd  child  female      yes
598    2nd  child  female      yes
599    2nd  child  female      yes
600    2nd  child  female      yes
601    2nd  child  female      yes
602    2nd  child  female      yes
603    2nd  child  female      yes
604    2nd  child  female      yes
605    2nd  child  female      yes
606    2nd  child  female      yes
607    2nd  child  female      yes
608    2nd  child  female      yes
609    2nd  child  female      yes
    pclass    age     sex survived
320    1st  child    male      yes
321    1st  child    male      yes
322    1st  child    male      yes
323    1st  child    male      yes
324    1st  child  female      yes
325    2nd  adult    male      yes
326    2nd  adult    male      yes
327    2nd  adult    male      yes
328    2nd  adult    male      yes
329    2nd  adult    male      yes

In [33]:
by_age = titanic.groupby('age')

by_age.size() #can aggregate and find how many of each age group (attribute)

age
adult    2092
child     109
dtype: int64

In [36]:
print(titanic.groupby('sex').size()) #or print(titanic.groupby(['sex']).size())

print(titanic.groupby(['survived','sex']).size()) #you can group

sex
female     470
male      1731
dtype: int64
survived  sex
no        female     126
          male      1364
yes       female     344
          male       367
dtype: int64